{erl_first_files, []}.
{erl_opts,
    [fail_on_warning
    ]
}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {goanna,            ".*", {git, "https://github.com/ruanpienaar/goanna.git", {branch, "master"}}},
  {erl_csv_generator, ".*", {git, "https://github.com/ruanpienaar/erl_csv_generator", {branch, "master"}}},
  {cluster_report,    ".*", {git, "https://github.com/ruanpienaar/cluster_report", {branch, "master"}}}
]}.
{sub_dirs,
 []
}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.