{erl_first_files, []}.
{erl_opts,
    [fail_on_warning,
        {parse_transform, lager_transform}
    ]
}.
{erlydtl_opts, []}.
{cover_enabled, true}.
{target, "rel"}.
{app_bin, []}.
{deps_dir, ["deps"]}.
{deps, [
  {goanna,            ".*", {git, "https://github.com/ruanpienaar/goanna.git", {branch,"master"}}},
  {reloader,          ".*", {git, "https://github.com/oinksoft/reloader.git",  {branch,"master"}}},
  {erl_csv_generator, ".*", {git, "https://github.com/ruanpienaar/erl_csv_generator", {branch,"master"}}}
]}.
{sub_dirs,
 ["apps/exerltion"]
}.
{edoc_opts, [{doclet, edown_doclet}]}.
{sub_dirs, []}.
{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.